*{

    box-sizing: border-box!important;
}
body{

    display: flex;

    min-height: 100vh;
background-color: rgba(0, 0, 0, 0.1);
   background-size: cover;
    background-repeat: no-repeat;

}
.container{
    margin-bottom: 1rem;

    justify-content: center;
    align-items: center;



}
h1{
    font-size: 72px;
    background: -webkit-linear-gradient(  255deg,
    hsl(240deg 100% 20%) 0%,
    hsl(289deg 100% 21%) 11%,
    hsl(315deg 100% 27%) 22%,
    hsl(329deg 100% 36%) 33%,
    hsl(337deg 100% 43%) 44%,
    hsl(357deg 91% 59%) 56%,
    hsl(17deg 100% 59%) 67%,
    hsl(34deg 100% 53%) 78%,
    hsl(45deg 100% 50%) 89%,
    hsl(55deg 100% 50%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;



}
.loginform{
    max-width: 30rem;
    padding: 3rem;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   border-radius: 25px;
    background-color: #24333C;
    box-shadow: 9px 6px 1px 2px goldenrod;
    /*background-image: linear-gradient(*/
    /*        255deg,*/
    /*        hsl(240deg 100% 20%) 0%,*/
    /*        hsl(289deg 100% 21%) 11%,*/
    /*        hsl(315deg 100% 27%) 22%,*/
    /*        hsl(329deg 100% 36%) 33%,*/
    /*        hsl(337deg 100% 43%) 44%,*/
    /*        hsl(357deg 91% 59%) 56%,*/
    /*        hsl(17deg 100% 59%) 67%,*/
    /*        hsl(34deg 100% 53%) 78%,*/
    /*        hsl(45deg 100% 50%) 89%,*/
    /*        hsl(55deg 100% 50%) 100%*/
    /*);*/
opacity: 0.89;

}
.info{
    color: snow;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.info button {

  font-size:14px;

}
.info a {

    font-size:14px;

}
.info input{
    width: 80%;
    margin: 0 auto;
    margin: 0 auto;
    font-size: 80%;
    margin-bottom: 1rem;
}
.info label{
    margin-bottom: 1rem;
}
.container{
    display: flex;
    justify-content: center;

}
.register{
    background-color: #24333C;
    color: white;
    opacity: 0.85;
    max-width:400px;
    border-radius: 20px;
    font-size: 14px;
    box-shadow: 9px 6px 1px 2px goldenrod;
    padding: 1rem;

}


@media (min-width: 991.98px) {
    main {
        padding-left: 140px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    background-color: #24333C !important;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    z-index: 600;
    width: 200px;
}
.list-group-item-action{
    color: gold;!important;
    background-color: #24333C !important;
}
.navbar-brand span{

   align-self: center;
    justify-content: center;
    align-items: center;
    color: #24333C;
    font-weight:bold ;
    padding-left:15px;

}
.navbar-brand{
    margin-top: 5px;
}


.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.avatar{

    list-style: none;
}
.avatar img{
    width: 30px;

}


@media (max-width: 991.98px) {
    .sidebar {
        margin:0 auto;
        justify-content: center;
        width: 100%;
        overflow-y: auto;
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: 0.5rem;
        overflow-x: hidden;
        border-radius: 20px;
        transition: 800ms;
    }
    .navnav{
        padding-left: 20px !important;
    }
}
.navnav{

    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    margin-left: -10px;
    background-color: #dabd60;
    margin-top: -10px;
    border-bottom-right-radius: 90px;
    border-bottom-left-radius: 80px;
    padding-left: 15px;

}

.card-img-top{

    border-radius: 100px;
}